# One dependencie per line, add here, the fresh.sh will start over here.
# The parser-reader cannot read starting lines with '#', use for commentaries.
# fresh.sh is in testing phases, be careful, any errors, please submit in issues at Github.

# Jav
default-jre

# C/C++
make 
cmake
gcc 
g++

# JS/TS
nodejs
npm 

# Database Technologies
postgresql
sqlite

